{% include 'scheming/snippets/upload.html' %}
{% import 'macros/form.html' as form %}
{% if data.icon_url %}
    {% set is_upload = data.icon_url.startswith('http') %}
{% endif %}

{{ form.image_upload(
    data,
    errors,
    field_url=field.field_name,
    field_upload=field.upload_field,
    field_clear=field.upload_clear,
    is_upload_enabled=h.uploads_enabled(),
    is_url=data[field.field_name] and is_upload,
    is_upload=not is_upload if data.icon_url else false,
    upload_label=h.scheming_language_text(field.upload_label),
    url_label=h.scheming_language_text(field.label),
    placeholder=''

    )
}}

{# image_upload macro doesn't support call #}
{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}